body{
    display: flex;
    justify-content: center;
    color: #66697c;
}

h1{
    background-color: #dddd;
    font-size: 34px;
    font-weight: bold;
    padding: 16px;
    margin: 5px;
}

#contentArea{
    display: flex;
    flex-wrap: wrap;
}

.content{
    width: 1024px;
}

.bundeslandContainer{
    text-decoration: none;
    display: block;
    color: rgb(98,68,69);
    border: 10px solid #eeee;
    width: calc(33.333% - 50px);
    margin: 5px;
    padding: 10px;
}

.bundeslandContainer:hover{
    opacity: 0.7;
}

.bundeslandContainer div:first-child{
    padding-bottom: 10px;
}

.textColorGrey{
    color: rgb(161,178,197);
}

#letterArea{
    display: flex;
}

.letterBox{
    width: 30px;
    height: 30px;
    margin: 5px;
    background-color: #dddd;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.letterBox:hover{
    cursor: pointer;
    opacity: 0.7;
}


@media (max-width: 800px) {
    .bundeslandContainer{
        width: calc(50% - 50px);
    }
}

@media (max-width: 500px) {
    .bundeslandContainer{
        width: calc(100% - 50px);
    }
}